@tailwind base;
@tailwind components;
@tailwind utilities;






div#ul{
    top: 0;
        width: 200px;
        z-index: 2;
        transition: right 1s;
        transition-duration: 2s;
}

input[type="search"]::-webkit-search-cancel-button {
   font-size: 20px;
  color: aqua;
cursor: pointer;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color:#374151;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid transparent;
    /* Add a border to create spacing */
    background-clip: content-box;
    /* Clip the background to create the effect */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color of the track */
}

@media screen and (min-width:640px) {
    .item{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        gap: 6px;
    }
}

@media screen and (min-width:430px){
.item {
        display: grid;
        gap: 10px;
    }
}
